/*=========================================
ABOUT FOUNDER
=========================================*/

.about-founder{

    padding:140px 7%;

    background:#111;

}

.about-founder-container{

    max-width:1500px;

    margin:auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:90px;

    align-items:center;

}

/* Image */

.about-founder-image{

    overflow:hidden;

    border-radius:30px;

    position:relative;

}

.about-founder-image img{

    width:100%;

    height:760px;

    object-fit:cover;

    object-position:center top;

    display:block;

    transition:1.2s;

}

.about-founder-image:hover img{

    transform:scale(1.04);

}

/* Content */

.about-founder-content{

    color:#fff;

}

.about-founder-content .section-label{

    display:block;

    color:#B88B47;

    text-transform:uppercase;

    letter-spacing:.28em;

    font-size:13px;

    margin-bottom:28px;

}

.about-founder-content h2{

    font-family:var(--serif);

    font-size:clamp(56px,5vw,86px);

    font-weight:300;

    line-height:1;

    margin-bottom:20px;

}

.about-founder-content h3{

    font-size:20px;

    color:#B88B47;

    text-transform:uppercase;

    letter-spacing:.18em;

    margin-bottom:45px;

    font-weight:400;

}

.about-founder-content p{

    font-size:19px;

    color:#cfcfcf;

    line-height:2;

    margin-bottom:28px;

}

/* Bottom Info */

.founder-info{

    display:flex;

    gap:70px;

    margin-top:55px;

    padding-top:35px;

    border-top:1px solid rgba(255,255,255,.08);

}

.founder-info h4{

    color:#B88B47;

    font-size:13px;

    letter-spacing:.18em;

    text-transform:uppercase;

    margin-bottom:12px;

}

.founder-info span{

    color:#fff;

    font-size:18px;

}

@media (max-width:1024px){

.about-founder{

padding:100px 40px;

}

.about-founder-container{

grid-template-columns:1fr;

gap:60px;

}

.about-founder-image{

max-width:650px;

margin:auto;

}

.about-founder-image img{

height:650px;

}

.about-founder-content{

text-align:center;

}

.founder-info{

justify-content:center;

}

}

@media (max-width:768px){

.about-founder{

padding:80px 24px;

}

.about-founder-image{

width:100%;

}

.about-founder-image img{

width:100%;

height:460px;

object-fit:cover;

object-position:center top;

}

.about-founder-content h2{

font-size:52px;

}

.about-founder-content h3{

font-size:16px;

line-height:1.7;

}

.about-founder-content p{

font-size:16px;

line-height:1.9;

}

.founder-info{

flex-direction:column;

gap:30px;

text-align:center;

}

}
