*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body{
    margin:0;
    padding:0;
    width:100%;
    overflow-x:hidden;
    background:#111111;
}

/*=====================================
CAREER SECTION
=====================================*/

.career-section{

    display:grid;
    grid-template-columns:48% 52%;

    gap:12px;

    background:#111111;

    margin-top:12px;

}

.career-left{

    background:#111111;

    display:flex;
    align-items:center;
    justify-content:center;

}

.career-content{

    width:75%;

}

.career-right{

    min-height:900px;

}

.career-right img{

    width:100%;
    height:100%;

    display:block;

    object-fit:cover;

}

.career-subtitle{

    display:block;

    color:#C79A46;

    font-size:15px;

    letter-spacing:6px;

    margin-bottom:20px;

}

.career-content h2{

    color:#F5F2EB;

    font-size:15px;

    letter-spacing:3px;

    text-transform:uppercase;

    margin-bottom:25px;

}

.career-content p{

    color:#F5F2EB;

    opacity:.85;

    line-height:2;

    font-size:15px;

    margin-bottom:50px;

}
