/*=========================================
HOUSETHAT NAVBAR
=========================================*/

.ht-navbar{

    position:fixed;

    top:0;
    left:0;

    width:100%;

    z-index:99999;

    background:rgba(248,245,239,.95);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(0,0,0,.06);

    transition:.4s ease;

}

/*========================*/

.ht-container{

    width:min(1450px,94%);

    margin:auto;

    min-height:90px;

    display:flex;

    align-items:center;

    justify-content:space-between;

}

/*========================*/

.ht-logo{

    display:flex;

    align-items:center;

    text-decoration:none;

}

.ht-logo img{

    width:82px;

    display:block;

    transition:.4s ease;

}

.ht-logo:hover img{

    transform:scale(1.05);

}

/* =========================
HOUSETHAT NAVBAR
========================= */

.ht-navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#f8f5ef;
    border-bottom:1px solid rgba(0,0,0,.08);
    z-index:9999;
}

.ht-container{
    max-width:1400px;
    margin:auto;
    padding:0 40px;
    height:90px;

    display:flex;
    align-items:center;
    justify-content:space-between;
}

.ht-logo img{
    width:72px;
    display:block;
}

body{
    padding-top:90px;
}

.ht-nav{

    display:flex;

    align-items:center;

   gap:28px;

}

.ht-nav>a,
.ht-dropdown>a{

    position:relative;

}

.ht-nav>a::after,
.ht-dropdown>a::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-12px;

    width:0;

    height:1px;

    background:#b88b47;

    transition:.35s;

}

.ht-nav>a:hover::after,
.ht-dropdown>a:hover::after{

    width:100%;

}


/*=====================================
DROPDOWN
=====================================*/

.ht-dropdown{
    position:relative;
}

.ht-dropdown > a{
    display:flex;
    align-items:center;
    gap:8px;
}

.ht-arrow{
    font-size:10px;
    transition:.35s;
}

.ht-dropdown:hover .ht-arrow{
    transform:rotate(180deg);
}

/* Dropdown Box */

.ht-dropdown-menu{

    position:absolute;

    top:calc(100% + 18px);
    left:0;

    min-width:280px;

    background:#ffffff;

    border-radius:22px;

    padding:14px 0;

    box-shadow:0 18px 60px rgba(0,0,0,.08);

    opacity:0;
    visibility:hidden;

    transform:translateY(20px);

    transition:.35s;

    z-index:999;

}

.ht-dropdown:hover .ht-dropdown-menu{

    opacity:1;
    visibility:visible;
    transform:translateY(0);

}

/* Links */

.ht-dropdown-menu a{

    display:block;

    padding:15px 26px;

    text-decoration:none;

    color:#555;

    font-family:'Inter',sans-serif;

    font-size:14px;

    letter-spacing:.03em;

    transition:.35s;

}

.ht-dropdown-menu a:hover{

    background:#f6f2eb;

    color:#b88b47;

    padding-left:34px;

}

.ht-dropdown-menu{

display:none;

}
