/*=====================================
NAVBAR
=====================================*/

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;

    background:rgba(248,245,239,.96);
    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(0,0,0,.06);

    transition:.4s ease;
}

.nav-container{

    max-width:1450px;
    width:94%;

    margin:auto;

    display:flex;
    align-items:center;
    justify-content:space-between;

    min-height:90px;

}

/*=========================
LOGO
=========================*/

.brand{

    display:flex;
    align-items:center;

    text-decoration:none;

}

.brand img{

    width:82px;

    display:block;

    transition:.4s ease;

}

.brand:hover img{

    transform:scale(1.05);

}
body{

    padding-top:90px;

}
