/*======================================
            PROJECT NAVBAR
=======================================*/

.project-navbar{

    position:fixed;
    top:0;
    left:0;

    width:100%;

    height:110px;

    padding:0 60px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    backdrop-filter:blur(30px);
    -webkit-backdrop-filter:blur(30px);

    background:rgba(10,10,10,.35);

    z-index:9999;

}


.project-nav-left{

    display:flex;
    flex-direction:column;
    gap:12px;

}

.project-nav-left>a,
.project-dropdown-btn{

    font-family:'Inter',sans-serif;

    font-size:14px;

    font-weight:400;

    letter-spacing:1px;

    color:#ffffff;

    text-decoration:none;

    background:none;
    border:none;

    cursor:pointer;

    transition:.35s;

}

.project-nav-left>a:hover,
.project-dropdown-btn:hover{

    color:#C79A46;

}


.project-logo{

    position:absolute;

    left:50%;
    transform:translateX(-50%);

    text-align:center;

}

.project-logo a{

    text-decoration:none;

}

.project-logo h2{

    color:#ffffff;

    font-family:'Cormorant Garamond',serif;

    font-size:42px;

    font-weight:500;

    letter-spacing:2px;

    margin-bottom:6px;

}

.project-logo span{

    color:#d5d5d5;

    font-family:'Inter',sans-serif;

    font-size:13px;

    letter-spacing:3px;

    text-transform:uppercase;

}


.project-right{

    display:flex;
    align-items:center;
    gap:24px;

}

.search-btn{

    background:none;
    border:none;

    color:#fff;

    font-size:20px;

    cursor:pointer;

}

.book-btn{

    color:#C79A46;

    text-decoration:none;

    font-family:'Inter',sans-serif;

    font-size:14px;

    letter-spacing:1px;

    position:relative;

}

.book-btn::after{

    content:"";

    position:absolute;

    left:0;
    bottom:-5px;

    width:100%;
    height:1px;

    background:#C79A46;

}

.project-dropdown{

    position:relative;

}

.project-dropdown-menu{

    position:absolute;

    top:30px;
    left:0;

    width:240px;

    background:#111;

    padding:20px;

    display:none;

    flex-direction:column;

    gap:16px;

}

.project-category{

    color:#ffffff;

    font-family:'Inter',sans-serif;

    font-size:14px;

    cursor:pointer;

    transition:.3s;

}

.project-category:hover{

    color:#C79A46;

}


.project-submenu{

    position:absolute;

    top:30px;

    left:250px;

    width:260px;

    background:#111;

    padding:20px;

    display:none;

    flex-direction:column;

    gap:16px;

}

.project-submenu a{

    color:#fff;

    text-decoration:none;

    font-family:'Inter',sans-serif;

    font-size:14px;

    transition:.3s;

}

.project-submenu a:hover{

    color:#C79A46;

}
.project-dropdown-menu.active{

    display:flex;

}

.project-submenu.active{

    display:flex;

}

@media(max-width:992px){

.project-navbar{

padding:25px;

}

.project-logo h2{

font-size:30px;

}

.project-nav-left{

display:none;

}

.book-btn{

display:none;

}

}
